.container{
    margin-bottom: 100px;
}
.buy-now-buttom{
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
}
.text{
    padding: 10px 30px;
}
.card img {
    max-width: 90%;
}
.see{
    color: orange;
    margin-bottom: 50px;
}
.card-text{
    text-align: center;
}
.cat{
    text-align: center;
}
.categ{
    background: white;
}
.under-line{
    height: 8px;
    background-color: orange;
    width: 100px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 50px;

}
.pale-order img{
    width: 100%;
}
.ca{
    margin-top: 150px;
}